@{
    ViewBag.Title = "Επικοινωνία";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1><br />
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Τηλέφωνα</h3>
    </header>
    <p>
        <span class="label">Τηλ. κέντρο:</span>
        <span>210 4142000</span>
    </p>
    <p>
        <span class="label">Fax:</span>
        <span>210 4142328</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Υποστήριξη:</span>
        <span><a href="mailto:support@abc.com">support@abc.com</a></span>
    </p>
    <p>
        <span class="label">Πληροφορίες:</span>
        <span><a href="mailto:info@abc.com">info@abc.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Διεύθυνση</h3>
    </header>
    <p>
        Μ. ΚΑΡΑΟΛΗ και Α. ΔΗΜΗΤΡΙΟΥ 80,<br /> 
        185 34 ΠΕΙΡΑΙΑΣ
    </p>
</section>